@charset "ISO-8859-1";
*{
	
	margin:0;
	padding:0;
}
#sidebar{
	
	width:10%;
	height:100%;
	background-color:black;
}
#sidebar li{
	
	color:white;
	font-size:25px;
	padding:0px;
	border-bottom:1px solid gray;
	
}