<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
 <link rel="stylesheet" type="text/css" href="sidebar.css" />

<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<!--  <div class="container text-center">-->


		<h1>Welcome!!</h1>

	<div id="sidebar">
		<div class="toggle-btn">
			<span></span>
			<span></span> 
			<span></span>
		</div>
		<ul>
			<h3>
					<li><a th:href="@{/register}">Register</a>
				</h3></li>
			
			</ul>
			

</div>
</div>

</body>
</html>